<!DOCTYPE html>
<html lang="en">

<html>
<head>
        <title>Yash</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
</head>
<style>

.header {
  background-color:#45a049;
  padding: 20px;
  text-align: center;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.header2 {
  background-color:#45a049;
  padding: 10px;
  text-align: center;
  color: white;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid rgb(12, 12, 12);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #45a049;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>   

  
<Body>
    <div class="header">
        <h1>Employee Management System</h1>
    </div>
    <br>
        <div class="header2">
            <h2>Insert sales details</h2>
    </div>
      <form>
            Enter Sales_ID
            <input type = "text" id="SI" name="SID" placeholder="Sales ID">
            <br>
            <br>
            Enter Query_Resolved
            <input type ="text" id="QR"name="QR" placeholder="Query Resolved">
            <br>
            <br>
             Enter EMP_ID
            <input type = "text" id="EI" name="ID" placeholder="Employee ID">
            <br>
            <br>
            Enter Sales_Bonus
            <input type = "text" id="SB" name="bonus"placeholder="Sales Bonus">
            <br>
            <br>
            <input type = "submit" value="submit">
            <p id ="p1"></p>
            
        </form>
    <script src="js/saleinsert.js"></script>
  
</Body>
</html>