<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Yash</title>
        <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

  <body>
      HEllo
      <script>
          fetch("http://dummy.restapiexample.com/api/v1/employees").then(
              res=>{
                  res.json().then(
                      data=>{
                          console.log(data);
                      }
                  )
              }
          )
      </script>
  </body>  
  </html>